* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-family: 'Galada', sans-serif; /* H2 etiketine özel yazı tipi uygula */
    font-weight: 200; /* Biraz daha kalın ama hala ince */
    font-size: 38px;
}

/* Menü içerikleri */
.menu-title-container h2 {
    font-size: 42px;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    border-bottom: 3px solid #ffffff;
    padding: 0px 20px;
}

.menu-item-container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap; /* Küçük ekranlarda alt alta sıralanmasını sağladım */
    align-items:flex-start;

    /*align-items: stretch; /* İçerikleri yatayda ortalar */
    /*
    gap: 50px;
    column-gap: 200px;
    margin-top: 10px;
    justify-content: stretch; /* Mobilde ortalamak için */
}

.menu-left-container {
    width: 80%; /* Önceki değer daha küçükse arttır */
    max-width: 900px; /* Daha büyük ekranlar için sınır koy */
    margin: 0 auto; /* Ortalamak için */
}

/*
.menu-left-container, .menu-right-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}
*/

/*
.menu-item {
    width: 100%;
    font-family: 'Alata', cursive;
    color: #f3c365;
    text-shadow: 1.5px 1.5px 1px black, 0 0 25px rgba(255, 208, 0, 0.37), 0 0 5px rgba(255, 196, 0, 0.342);
    letter-spacing: 1px;
    font-size: 23px;
    padding: 15px 0px;
    text-align: left;
    max-width: 400px;
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
*/
.mobile-page{
    margin: 40px 0px 120px 0px;
}

.menu-item {
    font-family: 'Alata', sans-serif;
    color: #f3c365;
    font-size: 20px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.menu-item span {
    font-size: 18px;
    display: block;
    cursor: pointer; /* İmleci el ikonuna dönüştürür */
}

.menu-item p {
    margin: 0;
    width: 100%;
    font-size: 20px;
}

    /* Başlık ve resmin yan yana durması */
    .menu-header {
        display: flex;
        align-items: center;
        gap: 15px; /* Resim ve yazı arasındaki boşluk */
    }

        /* Kare şeklindeki resim kutusu */
        .menu-image {
            width: 80px;
            height: 80px;
            border-radius: 15px; /* Köşeleri yumuşatma */
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #ffaa64d5;
            box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.3);
            flex-shrink: 0; /* Kutu boyutunun küçülmesini engeller */
        }

        .menu-image-col p {
            font-family: 'Haettenschweiler', Courier;
            letter-spacing: 3px;
            margin-left: 5px;
            margin-top: 15px;
            width: 100%;
            font-size: 28px;
        }
        .menu-image-col span {
            margin-top: 15px;
            width: 100%;
            font-size: 20px;
        }

        /* İçindeki resim sabit 80x80 olarak kalacak */
        .menu-image img {
            cursor: pointer; /* İmleci el ikonuna dönüştürür */
            width: 100%; /* Kutunun tamamını kaplaması için */
            height: 100%;
            object-fit: cover; /* Taşmadan kutuya sığdır */

            transition: transform 0.3s ease-in-out; /* Animasyonu yumuşatır */
        }

        .menu-image img:hover {
            transform: scale(1.1); /* Resmi %10 büyüt */
        }

        .menu-image-col p {
            font-family: 'Haettenschweiler', Courier;
            letter-spacing: 3px;
            margin-left: 5px;
            margin-top: 15px;
            width: 100%;
            font-size: 28px;
        }
        .menu-image-col span {
            margin-top: 15px;
            width: 100%;
            font-size: 20px;
        }


        .menu-text-container {
            flex-grow: 1; /* Yazının daha fazla alan kaplamasını sağlar */
            min-width: 250px; /* Küçük ekranlarda daralmayı önler */
        }

            .menu-text {
                display: flex;
                width: 100%;
            }

                .menu-name {
                    font-weight: bold;
                    color: #da8139;
                    white-space: nowrap; /* İsmin yanındaki boşluğu engeller */
                }

                .menu-dots {
                    flex-grow: 1;
                    border-bottom: 2px dotted #da8139;
                    margin: 0 10px;
                }

                .menu-price {
                    white-space: nowrap; /* Fiyatın satır atlamasını önler */
                    font-weight: bold;
                    color: #da8139;
                }

            .menu-desc {
                color: #2c2c2c;
                display: block;
                margin-top: 5px;
            }
/*
.menu-price {
    margin-left: auto; 
    font-weight: bold;
    color: #f3c365;
    font-size: 23px;
    white-space: nowrap; 
    padding-right: 0px;
}

.hidden-content {
    font-family: 'Alata', cursive;;
    display: flex;
    margin-top: 5px;
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
*/

.divider {
    height: 1px;
    width: 100%;
    max-width: 900px;
    background-color: #f3c365;
    margin: 1px 0;
}







/* Menü içerikleri */
.menu-title-container2 h2 {
    font-size: 42px;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    border-bottom: 3px solid #ffffff;
    padding: 0px 20px;
}

.menu-item-container2 {
    width: 100vw;
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    gap: 50px;
    column-gap: 200px;
    margin-top: 10px;

    flex-wrap: wrap; /* Küçük ekranlarda alt alta sıralanmasını sağladım */
    justify-content: stretch; /* Mobilde ortalamak için */
    align-items: stretch; /* İçerikleri yatayda ortalar */
}

.menu-left-container2, .menu-right-container2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center; /* İçerikleri yatayda ortalar */
    margin-left: 40px   ;
}

/* Başlık ve resmin yan yana durması */
.menu-header2 {
    display: flex;
    align-items: center;
}

.menu-price2 {
    margin-left: auto; /* Fiyatı en sağa iter */
    font-weight: bold;
    color: #f3c365;
    font-size: 23px;
    white-space: nowrap; /* Fiyatın alt satıra düşmesini engeller */
    padding-right: 0px; /* Fiyatı sağa kaydırır */
}

.menu-item2 {
    font-weight: 600;
    /* width: 400px; */
    width: 100%;
    font-family: 'Alata', cursive;
    color: #f3c365;
    text-shadow: 1.5px 1.5px 2px black;
    letter-spacing: 1px;
    font-size: 23px;
    padding: 15px 0px;
    text-align: left;
    max-width: 400px; /* Küçük ekranlarda genişliğin taşmasını engeller */
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Elemanları dikeyde ortala */
    gap: 20px; /* Kutucuk ve metin arasında boşluk */
}

/* Kare şeklindeki resim kutusu */
.menu-image2 {
    width: 80px;
    height: 80px;
    border-radius: 15px; /* Köşeleri yumuşatma */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.3);
    flex-shrink: 0; /* Kutu boyutunun küçülmesini engeller */
    margin-right: 10px;
}

/* İçindeki resim sabit 80x80 olarak kalacak */
.menu-image2 img {
    cursor: pointer; /* İmleci el ikonuna dönüştürür */
    width: 100%; /* Kutunun tamamını kaplaması için */
    height: 100%;
    object-fit: cover; /* Taşmadan kutuya sığdır */

    transition: transform 0.3s ease-in-out; /* Animasyonu yumuşatır */
}

.menu-image2 img:hover {
    transform: scale(1.1); /* Resmi %10 büyüt */
}

.menu-item2 p {
    margin: 0;
    width: 100%;
    font-size: 20px;
}

.menu-item2 span{
    font-size: 20px;
    cursor: pointer;
    
}

.divider2 {
    height: 1px;
    width: 100%;
    max-width: 500px;
    background-color: #f3c365;
}






/*other*/
.menu-buttons {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    z-index: 1000;
}

.menu-buttons button {
    padding: 10px 15px;
    border: none;
    background: #f0ad4e;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.menu-buttons button:hover {
    background: #e09c3c;
}

/* Page işlemleri */
.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: white;
    font-size: 2em;
    background-size: cover;
    background-position: center;

    min-height: 100vh; /* İçeriğin tam görünmesini sağlar */
    flex-direction: column;
}


/* Page İşlemleri */
#page-0 {
    background-color: #fdf7eb; /* Arka plan rengini belirledik */
    width: 100vw; /* Ekran genişliği */
    height: auto; /* Ekran yüksekliği */
    display: flex;

    flex-direction: column; /* Elemanları dikey hizalar */
    justify-content: space-between; /* Elemanlar arasında boşluk bırakır */
    align-items: center; /* Elemanları yatayda ortalar */
}

.page-container {
    width: 100%; /* Sayfa genişliği */
    height: auto;
    display: flex;
    justify-content: center; /* Logoyu ortalar */

    align-items: flex-start; /* Üste hizalar */
}

#logo {
    width: 500px; /* Logonun genişliği */
    height: auto; /* Orijinal yüksekliği korur */
    object-fit: contain; /* En-boy oranını koruyarak görseli sığdırır */
}

#page-1 {
    background-color: #fdf7eb;
    width: 100vw; /* Ekran genişliği */
    height: auto; /* Ekran yüksekliği */
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Altın sarısı renk */
    padding: 0px 20px;
    display: flex;

    /* flex-direction: column; Yatayda ortalama yerine dikey hizalama */
    align-items: center;
    flex-direction: column; /* İçeriği dikeyde hizalar */
    justify-content: flex-start; /* İçeriği üst kısımda tutar */
}

#page-2 {
    background-color: #fdf7eb;
    width: 100vw; /* Ekran genişliği */
    height: auto    ; /* Ekran yüksekliği */
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Altın sarısı renk */
    padding: 0px 20px;
    display: flex;

    /* flex-direction: column; Yatayda ortalama yerine dikey hizalama */
    align-items: center;
    flex-direction: column; /* İçeriği dikeyde hizalar */
    justify-content: flex-start; /* İçeriği üst kısımda tutar */
}

#page-3 {
    background-color: #fdf7eb;
    width: 100vw; /* Ekran genişliği */
    height: auto    ; /* Ekran yüksekliği */
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Altın sarısı renk */
    padding: 0px 20px;
    display: flex;

    /* flex-direction: column; Yatayda ortalama yerine dikey hizalama */
    align-items: center;
    flex-direction: column; /* İçeriği dikeyde hizalar */
    justify-content: flex-start; /* İçeriği üst kısımda tutar */
}

#page-4 {
    background-color: #fdf7eb;
    width: 100vw; /* Ekran genişliği */
    height: auto    ; /* Ekran yüksekliği */
    background-size: cover;
    background-position: center;
    color: #7b024d; /* Altın sarısı renk */
    padding: 0px 20px;
    display: flex;

    /* flex-direction: column; Yatayda ortalama yerine dikey hizalama */
    align-items: center;
    flex-direction: column; /* İçeriği dikeyde hizalar */
    justify-content: flex-start; /* İçeriği üst kısımda tutar */
}

#page-5 {
    background-image: url('images/06.2.png'); /* Arka plan resmi */
    width: 100vw; /* Ekran genişliği */
    height: auto    ; /* Ekran yüksekliği */
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Altın sarısı renk */
    padding: 0px 20px;
    display: flex;

    /* flex-direction: column; Yatayda ortalama yerine dikey hizalama */
    align-items: center;
    flex-direction: column; /* İçeriği dikeyde hizalar */
    justify-content: flex-start; /* İçeriği üst kısımda tutar */
}

#page-6 {
    background-image: url('images/05.png'); /* Arka plan resmi */
    width: 100vw; /* Ekran genişliği */
    height: auto    ; /* Ekran yüksekliği */
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Altın sarısı renk */
    padding: 0px 20px;
    display: flex;

    /* flex-direction: column; Yatayda ortalama yerine dikey hizalama */
    align-items: center;
    flex-direction: column; /* İçeriği dikeyde hizalar */
    justify-content: flex-start; /* İçeriği üst kısımda tutar */
}
#page-7 {
    background-image: url('images/07.1.png'); /* Arka plan resmi */
    width: 100vw; /* Ekran genişliği */
    height: auto    ; /* Ekran yüksekliği */
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Altın sarısı renk */
    padding: 0px 20px;
    display: flex;

    /* flex-direction: column; Yatayda ortalama yerine dikey hizalama */
    align-items: center;
    flex-direction: column; /* İçeriği dikeyde hizalar */
    justify-content: flex-start; /* İçeriği üst kısımda tutar */
}
/* Page-8 Genel Stil */
#page-8 {
    background-color: #f5efe2;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* QR Kodları */
.qr-left, .qr-right {
    text-align: center;
    width: 25%;
    min-width: 250px; /* Taşmayı önlemek için */
}

.qr-right a:link, 
.qr-right a:visited, 
.qr-right a:hover, 
.qr-right a:active,
.qr-left a:link, 
.qr-left a:visited, 
.qr-left a:hover, 
.qr-left a:active {
    text-decoration: none !important; /* Kesinlikle altı çizgiyi kaldır */
    color: inherit !important; /* Renk değişimini engelle */
}

.qr-left img, .qr-right img {
    width: 220px;  /* QR kodları büyütüldü */
    height: 220px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.qr-left img:hover, .qr-right img:hover {
    transform: scale(1.1);
}

/* Instagram Yazısı */
.instagram-text {
    font-family: 'Galada', sans-serif;
    font-size: 28px;
    color: black;
    margin-top: 10px;
}

/* Konum Adresi */
.address-text {
    font-family: 'KaushanScript', cursive;
    font-size: 21px;
    color: black;
    margin-top: 10px;
    line-height: 1.5;
}

/* Orta Logo */
.logo-container {
    width: 40%;
    min-width: 350px;
    text-align: center;
}

.logo-container img {
    width: 350px;
    height: auto;
}

/* Üst Kısım (Hero) Stili */
.sidepage-hero {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden; /* Taşmaları önler */
}

/* Blur efekti ekleyen saydam katman */
.sidepage-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit; /* Orijinal arka planı al */
    background-size: cover;
    background-position: center;
    filter: blur(1px); /* Blur efekti */
    z-index: 1;
}

/* Üst kısım logo */
.sidepage-hero a {
    position: relative;
    z-index: 2; /* Logonun üstte kalmasını sağlar */
}

.sidepage-hero a img {
    width: 400px;
    height: auto;
}

/* Ana Sayfa Menü Tasarımı */
/* Menü genel */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
}

/* İlk dört butonu 2 sütun yap */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Butonların temel tasarımı */
.button-container, .full-width-button {
    position: relative;
    width: 400px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
}

/* Tam genişlikte butonlar */
.full-width-button {
    width: 820px; /* İki sütunun toplam genişliği kadar */
    height: 250px;
}

/* Çerçeve efekti */
.middle-square {
    background-color: #0000002f;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
}

/* Yazı stilleri */
.text-square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fdf7eb;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: transform 0.2s ease-in-out;
}
.text-square h2{
    white-space: nowrap;
}

.middle-square:hover {
    background-color: #ffe60000;
}

/* Kutuya veya yazıya hover yapınca titreme efekti */
.middle-square:hover .text-square,
.text-square:hover {
    animation: shake2 0.3s ease-in-out;
}

/* Butonun başlangıç stili */
.floating-button {
    position: fixed;
    bottom: 33px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-color: #003b2300;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    cursor: pointer;
    z-index: 999;
}

/* Buton içindeki görsel */
.floating-button img {
    width: 67px;
    height: 67px;
}

/* Hover efekti */
.floating-button:hover {
    transform: scale(1.1);
    background-color: #fae99d;
}

/* Tooltip (Ana Sayfa yazısı) */
.floating-button::after {
    content: "Ana Sayfa"; 
    position: absolute;
    font-family: 'KaushanScript', cursive;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 1.2px 1.2px 2px rgba(0, 0, 0, 0.904); /* Blur azaltıldı */
    color: white;
    padding: 3px 5px;
    font-size: 16px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

/* Hover olunca yazıyı göster */
.floating-button:hover::after {
    opacity: 1;
    visibility: visible;
}

/* Instagram butonu özel stil */
.instagram-floating-button {
    position: fixed;
    bottom: 40px;
    left: 35px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    text-decoration: none;
}

/* Instagram logosu */
.instagram-floating-button img {
    width: 65px;
    height: 65px;
}

/* Hover efekti */
.instagram-floating-button:hover {
    transform: scale(1.1);
}

/* Tooltip (@stjulianmersin Yazısı) */
.instagram-floating-button::after {
    content: "@Stjulianmersin"; 
    position: absolute;
    font-family: 'KaushanScript', cursive;
    top: -30px; /* Üstte çıkması için */
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 1.2px 1.2px 2px rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 16px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

/* Hover olunca tooltip görünsün */
.instagram-floating-button:hover::after {
    opacity: 1;
    visibility: visible;
}



/* Tıklanınca animasyon uygulanacak sınıf */
.fly-away {
    animation: flyAway 0.7s ease-in-out forwards;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
/* Modal arkaplanı */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Daha hafif karartma */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal içeriği */
.modal-content-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

/* Resmin kendisi */
.modal-image {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 10px;
}

/* Kapatma butonu */
.close-button {
    position: absolute;
    top: -12px;
    right: -12px;
    background: #f38a49;
    border: none;
    color: white;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.close-button:hover {
    background: #d56d33;
}

/* Animasyon efekti */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Çalkalanma animasyonu */
@keyframes shake {
    0%      { transform: translateX(0);}
    25%     { transform: translateX(-5px); }    /* Sol kaydır */
    50%     { transform: translateX(5px); }     /* Sağ kaydır */
    75%     { transform: translateX(-5px); }    /* Sol kaydır */
    100%    { transform: translateX(0); }       /* Sonunda geri döner */
}

/* Sallanma animasyonu */
@keyframes shake2 {
    0%   { transform: translate(-50%, -50%) rotate(2deg); }
    25%  { transform: translate(-52%, -50%) rotate(-2deg); }
    50%  { transform: translate(-50%, -50%) rotate(2deg); }
    75%  { transform: translate(-48%, -50%) rotate(-2deg); }
    100% { transform: translate(-50%, -50%) rotate(2deg); }
}

@keyframes shake3 {
    0%      { transform: translateX(0); }
    25%     { transform: translateX(-3px) rotate(-1deg); }
    50%     { transform: translateX(3px) rotate(1deg); }
    75%     { transform: translateX(-2px) rotate(-0.5deg); }
    100%    { transform: translateX(0); }
}
@keyframes wobble {
    0% { transform: rotate(0deg) translateY(0px); }
    25% { transform: rotate(-2deg) translateY(-2px); }
    50% { transform: rotate(2deg) translateY(2px); }
    75% { transform: rotate(-1deg) translateY(-1px); }
    100% { transform: rotate(0deg) translateY(0px); }
}   
@keyframes flyAway {
    0% { transform: scale(1) translateY(0); opacity: 1; }
    50% { transform: scale(1.2) translateY(-100px); opacity: 0.5; }
    100% { transform: scale(0) translateY(-200px); opacity: 0; }
}

@font-face {
    font-family: 'Amoresa'; /* Özel yazı tipi ismi */
    src: url('font/Amoresa.ttf') format('truetype'); /* Yazı tipi dosyasına yol */
}
@font-face {
    font-family: 'Haettenschweiler'; /* Özel yazı tipi ismi */
    src: url('font/Haettenschweiler.ttf') format('truetype'); /* Yazı tipi dosyasına yol */
}
@font-face {
    font-family: 'Alata'; /* Özel yazı tipi ismi */
    src: url('font/Alata-Regular.ttf') format('truetype'); /* Yazı tipi dosyasına yol */
}
@font-face {
    font-family: 'Pattaya'; /* Özel yazı tipi ismi */
    src: url('font/Pattaya-Regular.ttf') format('truetype'); /* Yazı tipi dosyasına yol */
}
@font-face {
    font-family: 'Galada'; /* Özel yazı tipi ismi */
    src: url('font/Galada-Regular.ttf') format('truetype'); /* Yazı tipi dosyasına yol */
}
@font-face {
    font-family: 'KaushanScript';
    src: url('font/KaushanScript.ttf') format('truetype');
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1000px) {
    .page {
        width: 100vw;
    }
    #page-1 {
        width: 100vw; /* Ekran genişliği */
        height: auto; /* Ekran yüksekliği */
    }
    #page-2 {
        width: 100vw; /* Ekran genişliği */
        height: 100%; /* Ekran yüksekliği */
    }
    #page-3 {
        width: 100vw; /* Ekran genişliği */
        height: 100%; /* Ekran yüksekliği */
    }
    #page-4 {
        width: 100vw; /* Ekran genişliği */
        height: 100%; /* Ekran yüksekliği */
    }
    #page-5 {
        width: 100vw; /* Ekran genişliği */
        height: 100%; /* Ekran yüksekliği */
    }
    #page-6 {
        width: 100vw; /* Ekran genişliği */
        height: 100%; /* Ekran yüksekliği */
    }
    #page-7 {
        background-image: url('images/07.png');
        width: 100vw; /* Ekran genişliği */
        height: 100%; /* Ekran yüksekliği */
    }
    .menu-title-container {
        margin-bottom: -20px; /* Başlık ile içerik arasındaki boşluğu küçült */
        padding-bottom: 0; /* Eğer varsa ekstra boşluğu kaldır */
    }
    .menu-item-container {
        transform: scale(0.9);
        gap: 80px;
        margin-top: 0; /* Menü içeriğini yukarı çek */
        padding-top: 0;
    }
    .menu-title-container2 {
        margin-bottom: -20px; /* Başlık ile içerik arasındaki boşluğu küçült */
        padding-bottom: 0; /* Eğer varsa ekstra boşluğu kaldır */
    }
    .menu-item-container2 {
        transform: scale(0.9);
        gap: 80px;
        margin-top: 0; /* Menü içeriğini yukarı çek */
        padding-top: 0;
    }
    .divider {
        width: 90%;
    }
    .divider2 {
        width: 90%;
    }
}

/* Küçük Ekranlar İçin Responsive Tasarım */
@media screen and (max-width: 900px) {
    .page-container {
        flex-direction: column;
        align-items: center;
    }

    .qr-left, .logo-container, .qr-right {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
    .sidepage-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        width: 100%;
        height: 250px; /* Yükseklik isteğe göre ayarlanabilir */
        background-size: cover;
        background-position: center;
    }
    
    .sidepage-hero a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .sidepage-hero a img {
        width: 70%; /* Logoyu büyültmek/küçültmek için ayarlayın */
        height: auto;
        display: block;
        margin: 0 auto; /* Logo tam ortada hizalanır */
    }

    .btn-language, .btn-search {
        top: 12px;
        padding: 7px 12px;
        font-size: 13px;
    }

    .button-container {
        height: 400px;
        width: 49vw; /* Butonlar orta boyut için optimize edildi */
    }

    .full-width-button {
        width: 100vw;
    }

    .text-square {
        font-size: 24px;
    }

    .mobile-page{
        margin: 20px 0px 40px 0px;
    }

    .mobile-page2{
        margin: 20px 0px 40px 0px;
    }
    
    .menu-left, .menu-right {
        flex-direction: column;   
    }

    .page {
        width: 100vw;
        
    }

    #page-0 {
        width: 100vw; /* Ekran genişliği */
        height: 100%; /* Ekran yüksekliği */
    }
    
    #logo {
        width: 50vw; /* Logonun genişliği */
        height: auto; /* Orijinal yüksekliği korur */
        object-fit: contain; /* En-boy oranını koruyarak görseli sığdırır */
    }

    .menu-container {
        transform: scale(0.8);
        display: flex;
        width: 100%;
        min-height: 40vh; /* Butonlar için minimum yükseklik ayarlanır */
        align-items: flex-start; /* Butonlar üst kısma yerleştirilir */
        flex-wrap: wrap; /* Butonların satırlara geçmesini sağlar */
        justify-content: center; /* Butonları ortalar */
        align-content: flex-start; /* Satırlar arasındaki boşluğu yukarı alır */
        padding: 0px;
    }

    #page-1 {
        width: 100vw; /* Ekran genişliği */
        height: 100%; /* Ekran yüksekliği */
    }
    #page-2 {
        width: 100vw; /* Ekran genişliği */
        height: 100%; /* Ekran yüksekliği */

        background-position: calc(50% - 70px) center; /* Hafif sola kaydırma */
    }

    #page-3 {
        width: 100vw; /* Ekran genişliği */
        height: 100%; /* Ekran yüksekliği */
    }
    #page-4 {
        width: 100vw; /* Ekran genişliği */
        height: 100%; /* Ekran yüksekliği */
    }
    #page-5 {
        width: 100vw; /* Ekran genişliği */
        height: 100%; /* Ekran yüksekliği */
    }
    #page-6 {
        width: 100vw; /* Ekran genişliği */
        height: 100%; /* Ekran yüksekliği */

        background-position: calc(52% - 100px) center; /* Hafif sola kaydırma */ 
    }
    #page-7 {
        width: 100vw; /* Ekran genişliği */
        height: 100%; /* Ekran yüksekliği */

        background-position: calc(53% - 100px) center; /* Hafif sola kaydırma */ 
    }
    
    .menu-title-container {
        padding-top: 20px;
        flex-direction: column; /* Tek sütuna düş */
        gap: 20px;
    }
    .menu-item-container {
        flex-direction: column; /* Tek sütuna düş */
        gap: 20px;
    }

    .menu-left-container, .menu-right-container {
        width: 100%; /* Tek sütun */
    }
    .menu-left-container2, .menu-right-container2 {
        width: 100%; /* Tek sütun */
        margin-left: 0px   ;
    }
    .menu-title-container2 {
        padding-top: 20px;
        flex-direction: column; /* Tek sütuna düş */
        gap: 20px;
    }
    .menu-item-container2 {
        flex-direction: column; /* Tek sütuna düş */
        gap: 20px;
    }

    .menu-item {
        transform: scale(1);
        width: 100%;
    }
    .menu-item2 {
        transform: scale(1);
        width: 100%;
    }

    .divider {
        width: 90%;
    }
    .divider2 {
        width: 90%;
    }

    .instagram-floating-button img {
        width: 45px;
        height: 45px;
    }
    .floating-button img {
        width: 50px;
        height: 50px;
    }

    .floating-button {
        bottom: 23px;
        right: 25px;
        width: 50px;
        height: 50px;
    }
    /* Instagram butonu özel stil */
    .instagram-floating-button {
        bottom: 20px;
        left: 30px;
    }
    .instagram-floating-button::after {
        content: ""; 
        font-family: 'KaushanScript', cursive;
    }
    .floating-button::after {
        content: ""; 
        font-family: 'KaushanScript', cursive;
    }
}

@media (max-width: 600px) {
    .menu-title-container2 h2 {
        font-size: 34px;
    }
    .sidepage-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        width: 100%;
        height: 250px; /* Yükseklik isteğe göre ayarlanabilir */
        background-size: cover;
        background-position: center;
    }
    
    .sidepage-hero a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .sidepage-hero a img {
        width: 70%; /* Logoyu büyültmek/küçültmek için ayarlayın */
        height: auto;
        display: block;
        margin: 0 auto; /* Logo tam ortada hizalanır */
    }

    .btn-language, .btn-search {
        top: 10px;
        padding: 6px 10px;
        font-size: 12px;
    }

    .button-container{
        height: 200px;
        width: 49vw; /* Mobilde daha küçük butonlar */
    }
    .full-width-button {
        height: 200px;
        width: 100vw;
    }

    .text-square {
        font-size: 16px;
    }
}
